<!DOCTYPE html>
<html lang="en">
<head>
<title>Simple robot test</title>
</head>
<body>
<h1>Simple robot test</h1>
<form action="/form" method="post">
<div id="captcha-container"></div>
<label for="robottest">Type what you see below</label>
<input type="text" id="robottest" name="robottest" required>
<button type="submit">Submit</button>
</form>
<script>
    async function loadCaptcha() {
      const response = await fetch('/getimage');
      const captchaSvg = await response.text();
      document.getElementById('captcha-container').innerHTML = captchaSvg;
    }

    document.addEventListener('DOMContentLoaded', loadCaptcha);
</script>
</body>
</html>